.Header-nav-padding {
    /*left: 10%;*/
    /*padding-right: 40%;*/
    padding-left: 25px;
}

.Header-common{
    font-size: medium;
    font-family: sans-serif;
    height: 75px;
    color: black;
}