.blog-container {
    margin: 15px 0 0 5px;
    min-height: 200px;
}

.blog-left {
    min-height: 200px;
    width: 250px;
    float: left;
    text-align: justify;
}

.blog-middle {
    width: 50%;
    margin: 0 0 0 50px;
    min-height: 200px;
    float: left;
}

.blog-middle-header {
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}


.blog-middle-box {
    /*border-left: thin solid black;*/
    text-align: justify;
    line-height: 30px;
}
.blog-right {
    /*margin: 0 1000px 0 0;*/
    width: 250px;
    text-align: justify;
    margin: 0 10px 0 0;
    float: right;
}
.blog-footer {
    margin: 100px 0 0 0;
    clear: both;
}