.home-marketing {
    margin: 40px 0;
    width: 1300px;

}

.home-left-side {
    min-height: 200px;
    width:200px;
    text-align: center;
    float:left;
    padding-left: 60px;
}
.home-img {
    border-radius: 50%;
    height: 180px;
}
.home-col-lg-8 {
    min-width: 400px;
    padding-top: 10px;
    font-size: large;
}

.home-relative {
    left: 30px;
    border: 3px;
    width: 30%;
    padding-left: 30%;
}